.running {
    animation: run-animation 10s infinite;
}

@keyframes run-animation {

    0%,
    21%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
    7% {
        transform: translateX(10px) translateY(-35px) rotate(-20deg);
    }
    15% {
        transform: translateX(5px) translateY(1px) rotate(15deg);
    }
}

// @keyframes run-animation {

//     0%,
//     15%,
//     100% {
//         transform: translate(0, 0) rotate(0deg);
//     }


//     5% {
//         transform: translate(0) rotate(-10deg);
//     }
// }